body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  position: relative;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
  padding-bottom: 80px; /* To give space for the waves */
}

/*header,*/
footer {
  background: #2575e6;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

section {
  background: #fff;
  padding: 2rem;
  margin: 1rem 0;
}
h2,
h3 {
  color: #000000;
}
#about {
  background-size: cover; /* Ensures the background image covers the entire section */
  background-position: center; /* Centers the background image */
  /*padding: 20px; /* Add padding to give some space around the content */
  color: rgb(12, 11, 11); /* Sets text color to white for better readability */
}

/* Additional styling for better readability */
#about h3 {
  font-size: 24px;
}

#about p {
  font-size: 16px;
  line-height: 1.6;
}

#about a {
  color: #0a33c7; /* Link color */
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline; /* Underline links on hover */
}
li {
  margin: 0.5em 0;
}
@media screen and (min-width: 600px) {
  main {
    max-width: 600px;
    margin: 0 auto;
  }
}
.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.header-image {
  margin-right: 20px;
}

.header-content {
  flex: 1;
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .header-image {
    margin-bottom: 20px;
  }
  .waves-container {
    height: 90px;
  }

  .header {
    padding-bottom: 80px; /* Adjust the padding for smaller screens */
  }
}

table {
  margin-left: 20px;
  margin-right: 20px;
  border-collapse: collapse;
  width: calc(100% - 40px); /* Adjust width to account for margins */
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.waves-container {
  position: absolute; /* Position waves relative to the header */
  bottom: 0; /* Anchor the waves at the bottom of the header */
  left: 0;
  width: 100%;
  height: 15vh; /* Height of the wave */
  overflow: hidden; /* Hide any overflow of the wave */
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-bottom: -7px; /* Fix Safari gap issue */
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
