body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background: #2575e6;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
section {
  background: #fff;
  padding: 2rem;
  margin: 1rem 0;
}
h2 {
  color: #4b4949;
}
#about {
  background-image: url("Images/tumbleweed-emptystate-lightbg.gif");
  background-size: cover; /* Ensures the background image covers the entire section */
  background-position: center; /* Centers the background image */
  /*padding: 20px; /* Add padding to give some space around the content */
  color: rgb(12, 11, 11); /* Sets text color to white for better readability */
}

/* Additional styling for better readability */
#about h3 {
  font-size: 24px;
}

#about p {
  font-size: 16px;
  line-height: 1.6;
}

#about a {
  color: #0a33c7; /* Link color */
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline; /* Underline links on hover */
}
