body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header,
footer {
  background: #2575e6;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

section {
  background: #fff;
  padding: 2rem;
  margin: 1rem 0;
}
h2,
h3 {
  color: #000000;
}
#about {
  background-image: url("Images/tumbleweed-emptystate-lightbg.gif");
  background-size: cover; /* Ensures the background image covers the entire section */
  background-position: center; /* Centers the background image */
  /*padding: 20px; /* Add padding to give some space around the content */
  color: rgb(12, 11, 11); /* Sets text color to white for better readability */
}

/* Additional styling for better readability */
#about h3 {
  font-size: 24px;
}

#about p {
  font-size: 16px;
  line-height: 1.6;
}

#about a {
  color: #0a33c7; /* Link color */
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline; /* Underline links on hover */
}
li {
  margin: 0.5em 0;
}
@media screen and (min-width: 600px) {
  main {
    max-width: 600px;
    margin: 0 auto;
  }
}
.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.header-image {
  margin-right: 20px;
}

.header-content {
  flex: 1;
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .header-image {
    margin-bottom: 20px;
  }
}


table {
  margin-left: 20px;
  margin-right: 20px;
  border-collapse: collapse;
  width: calc(100% - 40px); /* Adjust width to account for margins */
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}




